main.main
  section.left
    .player
      img(src="images/pic.jpg", alt="")
    .description
      .description__left
        h1.description__title Доклад с очень длинным названием
        p.description__info Здесь будет информация о докладчике
      .description__right
        p.description__time 15:00
          span.description__begin Время начала
  section.right
    .header-menu
      .header-menu__data 20.04.2016
      a(href="#").header-menu__menu
    .future.menu
      .future__title Будущие трансляции
      ul.future__list.menu__list
        -
          var translationFuture = [["17:00", "#", "Доклад с очень длинным названием", "1"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"]]
        each item in translationFuture
          li.future__item.translation.menu__item
            .translation__time= item[0]
            .translation__wrapper
              a(href="#{item[1]}").translation__name= item[2]
              a(href="#{item[1]}").translation__number
                span= item[3]

    .on-air.menu
      .on-air__title On air
      ul.on-air__list.menu__list.onair
        -
          var translationOnAir = [["17:00", "#", "Доклад с очень длинным названием", "1", ""],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", ""],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", "onair"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", ""],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", "active"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", ""],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12", ""]]
        each item in translationOnAir
          li.on-air__item.translation.menu__item
            .translation__time= item[0]
            .translation__wrapper
              a(href="#{item[1]}").translation__name= item[2]
              a(href="#{item[1]}" class="#{item[4]}").translation__number
                span= item[3]

    .record.menu
      .record__title Записи
      ul.record__list.menu__list
        -
          var translationRecord = [["17:00", "#", "Доклад с очень длинным названием", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"],
                                   ["17:00", "#", "Доклад о чем-то очень важном и интересном", "12"]]
        each item in translationOnAir
          li.record__item.translation.menu__item
            .translation__time= item[0]
            .translation__wrapper
              a(href="#{item[1]}").translation__name= item[2]
              a(href="#{item[1]}").translation__number
                span= item[3]
    .footer-menu
      button.footer-menu__button-archive Записи предыдущих дней
      .footer-menu__full

